/* custom style */
:root {
    --cyan-blue: #8cddff;
    --dark-blue: #2b3f8a;
    --thin-blue: #e3f4ff;
    --light-blue: #33a0e9;
    --white: #f5fbff;
    --yellow: #f5dc27;
    --pure-white: #ffffff;
    --pink: #ff69aa;
    --default-font: "Noto Sans";
    /* Add more colors as needed */
}

.horizontal-scrolling {
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap; /* This ensures that the items stay in a single line */
}

.horizontal-scrolling::-webkit-scrollbar {
    height: 5px;
}

.horizontal-scrolling::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    outline: 1px solid slategrey;
    border-radius: 100px;
}

.horizontal-scrolling::-webkit-scrollbar-thumb:hover {
    background-color: var(--white);
}

.default-bg-theme {
    background-color: var(--dark-blue); /* Default color */
}

/* Adjust the height of the carousel */
.carousel-inner,
.carousel-item,
.carousel-item img {
    height: 50%;
}

.category-button {
    display: flex;
    align-items: center;
    border: 2px solid var(--cyan-blue);
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 25px;
    padding-bottom: 10px;
    width: 100%;
}

.category-button img {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    margin-right: 10px; /* Adjust spacing as needed */
    filter: invert(85%) sepia(4%) saturate(6768%) hue-rotate(172deg)
        brightness(101%) contrast(107%);
}

.category-button.active {
    border: 2px solid var(--cyan-blue);
    background-color: var(--cyan-blue);
    color: var(--cyan-blue);
}

.category-button.active span {
    color: var(--dark-blue);
}

.category-button.active img {
    filter: none;
}

.partnership-left-button {
    width: 45px;
    height: 45px;
    transform: rotate(90deg);
    background-color: var(--thin-blue);
    border: 3px solid var(--dark-blue); /* Added border */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partnership-right-button {
    width: 45px;
    height: 45px;
    transform: rotate(270deg);
    background-color: var(--thin-blue);
    border: 3px solid var(--dark-blue); /* Added border */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
