.wing{
    width: 1rem;
}
.product-contents{
    color:#364a63;
}
.font-weight-bold{
    font-weight: bold;
}
.wing-font{
    font-weight:bold;
    color:goldenrod;
}
.btn-collect{
    position:fixed;
    right:5%;
    top:50%;
}
